:root {
  --bg-color: #faf9f6;
  --primary-color: hsl(360, 80%, 45%);
  --secondary-color: hsl(360, 80%, 30%);
  --highlight-color: hsl(360, 80%, 60%);
  --font-color: #121212;
  --font-light: #faf9f6;
}

b {
  font-family: "Poppins";
}

a {
  font-family: "Poppins";
  color: var(--font-color);
}

li {
  font-family: "Poppins", "Lucida Handwriting", cursive;
}

h1,
h2 {
  font-family: "Poppins", "Lucida Handwriting", cursive;
  font-style: normal;
  color: var(--font-color);
  text-align: center;
  white-space: pre-wrap;
}

h1 {
  font-weight: 400;
  font-size: 2rem;
}

h2 {
  font-size: 1.5rem;
  font-weight: 300;
}

p {
  font-family: "Poppins", serif;
  font-size: 1rem;
}

body {
  background-color: var(--bg-color);
}
